body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: hotpink;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #b50959;
}

button {
  background: hotpink;
  color: white;
  border: none;
  padding: 15px 25px;
}

button:hover {
  background-color: #b50959;
  cursor: pointer;
}

h1 {
  color: hotpink;
}
